* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
}

body {
    background-color: var(--main-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-family: var(--outfit);
}

.card {
    background-color: var(--card-bg);
    width: 20rem;
    height: 33.75rem;
    padding: 1.25rem;
    border-radius: 3%;
    box-shadow: 0 0 0.625rem hsla(0, 0%, 0%, 0.44);
}

.eye {
    position: absolute;   
    padding-left: 7.1875rem;
    padding-right: 7.3125rem;
    padding-top: 7.3125rem;
    padding-bottom: 7.3125rem;
    border-radius: 3%;
    background-color: rgba(0, 255, 247, .5);
    opacity: 0;
    transition: opacity 0.15s, cursor 0.15s;
}

.nft-image {
    width: 17.5rem;
    border-radius: 3%;
    margin-bottom: 0.9375rem;
}

h1 {
    color: var(--white);
    font-weight: 400;
    font-size: 1.125rem;
    margin-bottom: 1.25rem;
    transition: color 0.15s, cursor 0.15s;
}

.description {
    color: var(--soft-blue);
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 1.25rem;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.9375rem;
}

.price {
    display: inline-block;
    color: var(--cyan);
    font-weight: 400;
    font-size: 0.8125rem;
    margin-left: 0.1875rem;
}

.ethereum-icon {
    display: inline-block;
    vertical-align: middle;
}

.duration {
    display: inline-block;
    color: var(--soft-blue);
    font-weight: 400;
    font-size: 0.8125rem;
}

.clock-icon {
    display: inline-block;
    vertical-align: middle;
}

.line {
    height: 0.125rem;   
    width: auto;
    background-color: var(--line-bg);
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.creator-info img, .creator-info p {
    display: inline-block;
}

.avatar {
    width: 1.875rem;
    border: solid;
    border-radius: 6.25rem;
    border-width: 0.0625rem;
    border-color: var(--white);
    vertical-align: middle;
    margin-right: 0.625rem;
}

.creator {
    font-size: 0.8125rem;
    color: var(--soft-blue);
}

span {
    color: var(--white);
    transition: color 0.15s, cursor 0.15s;
}

/* Hover States */
h1:hover {
    color: var(--cyan);
    cursor: pointer;
}

span:hover {
    color: var(--cyan);
    cursor: pointer;
}

.eye:hover {
    opacity: 1;
    cursor: pointer;
}

:root {
    /* Color Variables */
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line-bg: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);

    /* Font Variables */
    --outfit: 'Outfit', sans-serif;
}